---
---

<footer class="absolute bottom-0 w-full">
    <div class="flex justify-end w-full max-w-screen-xl p-4 mx-auto md:items-right">
    <ul class="flex flex-wrap items-center text-xs text-gray-500 dark:text-gray-400 league-spartan-light">
        <li>
            <span class="me-2 md:me-4">Jeremiah Iromaka</span>
        </li>
        <li>
            <a href="https://about.me/jeremiahiro" class="hover:underline me-2 md:me-4" target="_blank" title="About Me">About</a>
        </li>
        <li>
            <a href="https://github.com/Jeremiahiro" class="hover:underline me-2 md:me-4" target="_blank" title="Github">Github</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/jeremiahiro/" class="hover:underline" target="_blank" title="LinkedIn">LinkedIn</a>
        </li>
    </ul>
    </div>
</footer>
