---
---

<footer class="rounded-lg m-4 absolute bottom-0 w-full">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-end">
    <ul class="flex flex-wrap items-center text-xs text-gray-500 dark:text-gray-400 league-spartan-medium">
        <li>
            <span class="me-4 md:me-6">Jeremiah Iro</span>
        </li>
        <li>
            <a href="https://about.me/jeremiahiro" class="hover:underline">About</a>
        </li>
    </ul>
    </div>
</footer>
